<!-- downloader shortcode -->
{% if p %}<p>{% endif %}
    <a href="{{file_path}}" download="{% if download_name %}{{download_name}}{% else %}{{file_path}}{% endif %}" target="_blank">
        <button style="
        background-color: #359eff;
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
        border-radius: 8px;" onmouseover="this.style.backgroundColor='#0077e6'" onmouseout="this.style.backgroundColor='#359eff'">
        <i class="fa fa-download"></i> {% if download_name %}{{download_name}}{% else %}Download{% endif %}
    </button></a>
{% if p %}</p>{% endif %}
<!-- -->