---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import TechStack from '../components/TechStack.astro';
import BlogPreview from '../components/BlogPreview.astro';
import FeaturedProjects from '../components/FeaturedProjects.astro';
import About from '../components/About.astro';
---

<Layout title="Home - dittrich.pro">
  <Hero />
  <div class="border-t border-dark-border"></div>
  <TechStack />
  <div class="border-t border-dark-border"></div>
  <BlogPreview />
  <div class="border-t border-dark-border"></div>
  <FeaturedProjects />
  <div class="border-t border-dark-border"></div>
  <About />
</Layout>
